/* RESET */

/* Page */

html, body { height: 100%; }

body { padding: 30px 0px;}


header {
	margin:0;
    padding: 0px 0px;
    background-size: cover;
    height: 482px;
}

content{
   font-size:1.4em;
    color: #000000;
}


footer{
    background-color: #000;
    font-size:1.3em;
    color: #ffffff;
    padding: 30px 30px;
}


