<p>                      
I'm a researcher at <a
	href="http://www.iimas.unam.mx">IIMAS</a>, <a
	href="http://www.unam.mx">UNAM</a> working in the <a
	href="http://turing.iimas.unam.mx">Department of Computer
	Science</a>.
	</p>

<p>
My main interest is the intersession between (human) language and computing, I focus on <a target="_blank" href="https://en.wikipedia.org/wiki/Machine_learning">Machine Learning</a> and  <a href="https://en.wikipedia.org/wiki/Natural_language_processing" target="_blank">Natural Language Processing</a>.
</p>

<p>
Recently I have been working the following topics:
</p>
<ul>
<li>Deep learning for language, speech and sound (mainly bird songs)</li>
<li>Topic mining</li>
<li>Narrative generation for robots</li>
<li>Speech and computational forensics</li>
</ul>


<p>This is my contact information:</p>

<ul class="vcard"> 
	<div>Telephone: <span class="tel">+52 55 5622-3573</span></div>
	<div>eMail:
	<span class="email">ivanvladimir@turing.iimas.unam.mx</span></div>
</ul>
