<div class="row">


<div class="col-md-6">
<nav class="nav nav-inline">
		<a class="nav-link"  [routerLink]="['/publications']">Type</a>
		<a class="nav-link"  [routerLink]="['/publications_year']">Year</a>
		<a class="nav-link disabled"  [routerLink]="['/own_theses']">Theses</a>
		<a class="nav-link"  href="https://scholar.google.com.mx/citations?user=r4oJo3kAAAAJ&hl=en" target="_blank">Google scholar</a>
</nav>
</div>

<br/>
<br/>
<br/>


<div class="row">
<div class="col-lg-12">
<ul>
<li>
        <p>
I wrote <em><a href="https://www.era.lib.ed.ac.uk/handle/1842/4356" target="_blank">Statistical Semantic Processing using Markov Logic</a></em> for my PhD  degree from <a href="http://inf.ed.ac.uk">School of Informatics</a> of <a href="http://ed.ac.uk">University of Edinburgh</a>, 2009.
	</p>
	</li>
	<li>
        <p>
        
I wrote <em>Using Dialogue Context to Improve Parsing Performance in Dialogue Systems</em> form my MSc  degree from <a href="http://inf.ed.ac.uk">School of Informatics</a> of <a href="http://ed.ac.uk">University of Edinburgh</a>, 2005.

	</p>
    </li>
	<li>
        <p>
        
I wrote <em><a href="http://oreon.dgbiblio.unam.mx/F/ENN48AV6S3IXBY8XSY3F8CK2VRFGM36YMMYNS39DAHTHC9GXG3-39775?func=full-set-set&set_number=009564&set_entry=000009&format=999" target="_blank">El Sistema de Verbos Auxiliares del Español en HPSG</a></em>  form my BSc  degree from <a href="http://www.ingenieria.unam.mx/">School of Engineer</a>  of <a href="http://www.unam.mx">Nacional Autonomous University of Mexico</a>, 2001.
	</p>
</li>
</ul>
<br/>
	<p>If you wish a copy of these do not hesitate to contact me <span class="email">ivanvladimir@turing.iimas.unam.mx</span></p>
</div>
</div>
